# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.uv/
# Dados e modelos
data/*
!data/**/.gitkeep
mlruns/
models/
metrics/
# IDE
.vscode/
.idea/
# Docker
*.log
# Frontend build (se houver)
frontend/dist/
ml/data/external
ml/data/processed
ml/data/interim
ml/data/raw